.awesome{
    margin: 0;
    padding: 100px 0;
    width: 100%;
    }
.awesome_row{
    margin:auto;
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;
}

.title{
    width: 409px; 
    text-align: center;
    white-space: wrap;
    margin:auto;
    }

.element{
    display: inline-block;
    margin: auto;
    max-width: 350px;

}

.circle{
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    mix-blend-mode: normal;
    border: 1px solid #D98943;
    box-sizing: border-box;
}

.elem_awesome_title{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    
    color: #333333;
}

.elem_text{
    
    max-width: 350px;
    height: 60px;
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #000000;
}

.image{
    display: block;
    margin: auto;
    margin-top: 20px;
    
}
@media (max-width: 768px) {
    .element {        
        margin-bottom: 70px;
    }
    .element:last-child{
        margin-bottom: 0;
        }
    }