.axit {
    background-image: url('../images/background_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 110px 0 101px;
    position: relative;
    width: 100%;
    margin: 0;
  }

  .axit::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

  .axit_row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .axit_description{
    max-width: 544px;
  }
    .axit_main_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 32px;
    color: #FFFFFF;
  }

  .axit_main_title:after{
    content: 'IT';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 32px;
    color: #EC7979;
    }

  .axit_title{
    max-width: 544px;
    text-align: left;
    margin-bottom: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42.26px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1px 12px 8px 0;
      }

    .axit_title:hover{
      transform: rotate(360deg);
      transition: 0.8s ease;
      color: rgb(212, 0, 255);
    }

    .axit_line{
    max-width: 64px;
    height: 1px;
    border: 1px solid #FFFFFF;
    margin-bottom: 39px;
    }
  
    .axit_text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    max-width: 282px;
    text-align: left;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
    }

    .axit_button{
    border: 1px solid #FFFFFF;
    text-align: center;
    max-width: 135px;
    padding: 11px 27px 11px 25px;
    }

    .axit_button:hover{
      transform: scale(2);
      transition: 0.8s ease;
    background-color: springgreen;
    }

    .axit_button_name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    }

    .axit_button_name:hover{
      transform: scale(2);
      transition: 0.8s ease;
      color: violet;
    }

    .axit_form{
      background: #FFFFFF;
      border-radius: 8px;
      max-width: 370px;
    }

    .axit__form_title{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      max-width: 252px;
      flex-wrap: wrap;
      display: flex;
      margin: auto;
      text-align: center;
      color: #333333; 
      margin-bottom: 44px;
    }
  
    .axit_form_link{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #EC7979;
      text-decoration: none;
    }

    .content{
      padding-left: 59px;
      padding-top: 15px;
      padding-bottom: 61px;
      padding-right: 59px;
    }

    label{
      width: 100%;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;

      color: #BDBDBD;
    }

    input{
      width: 100%;
      border-style: none;
      border-bottom: 1px solid #BDBDBD;
    }
    
    .content_item{
    margin-bottom: 19px;
    }

    .btn_axit{
      background: #EC7979;
      border-radius: 0px 0px 8px 8px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      padding: 17px 0;
      color: #FFFFFF;
      border: none;
      width: 100%;
    }

    .btn_axit:hover{
      transition: 0.5s ease;
      color: violet;
      text-decoration: underline;
      box-shadow: 0 10px 40px rgba(219, 5, 166, 0.726);
    }
    @media (max-width: 768px) {
      .axit_title,
      .axit_main_title{      
        text-align: center;
      }
      .axit__form_title,
      .axit_form_link{      
      display: block;
       }
      .axit_text{
        margin: auto;
        margin-bottom: 39px;
        text-align: center;
      }
      .axit_line{
        margin:auto;
        margin-bottom: 39px;
      }
      .axit_form {
        margin-top: 50px;
      }
      .axit_row,
      .axit_description{
        justify-content: center;
        flex-wrap: wrap;
      }     
      .axit_button{
      margin: auto;
      }
    }

    @media (max-width: 320px) {

      .axit__form_title,
      .axit_form_link{      
       display: block;
            }
    }

     
    @media (max-width: 375px) {

      .axit__form_title,
      .axit_form_link{      
      display: block;
       }
      
    }

    @media (max-width: 411px) {

      .axit__form_title,
      .axit_form_link{      
      display: block;
       }
      
    }