.axit {
    background-image: url('../images/background_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 110px 0 101px;
    position: relative;
    width: 100%;
  }

  .axit_main_title{
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 70px;
margin-bottom: 32px;
color: #FFFFFF;
  }

  .axit_main_title::after{
    content: 'IT';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 32px;
    color: #EC7979;
  }

  .axit_title{
    max-width: 544px;
    text-align: left;
    margin-bottom: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42.26px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1px 12px 8px 0;
    }

    .axit_title:hover{
      transform: rotate(360deg);
      transition: 0.8s ease;
      color: rgb(212, 0, 255);
    }

    .axit_line{
    width: 64px;
    height: 1px;
    border: 1px solid #FFFFFF;
    margin-bottom: 39px;
    }
  
    .axit_text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    max-width: 282px;
    text-align: left;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
    }

    .axit_button{
    border: 1px solid #FFFFFF;
    text-align: center;
    width: 135px;
    padding: 11px 27px 11px 25px;
    }

    .axure_button:hover{
      transform: scale(2);
      transition: 0.8s ease;
    background-color: springgreen;
    }

    .axit_button_name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    }

    .axure_button_name:hover{
      transform: scale(2);
      transition: 0.8s ease;
      color: violet;
    }