.axure {
    background-image: url('../images/background.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 58px 0 38px;
    position: relative;
    width: 100%;
  }

  .axure::after{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
  }
  .axure_title{
    text-align: center;
    white-space: wrap;
    margin:auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42.26px;
    text-transform: uppercase;
    color: #FFFFFF;;
    }

    .axure_title:hover{
      transform: rotate(360deg);
      transition: 0.8s ease;
      color: yellow;
      background-color: turquoise;
    }

.axure_line{
    margin:auto;
    margin-top: 34px;
    width: 64px;
    height: 2px;
    border: 1px solid #FFFFFF;
    }
  
    .axure_description{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 34px 0px;
    color: rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    }

    .axure_button{
    margin: auto;
    margin-top: 57px;
    border: 1px solid #FFFFFF;
    text-align: center;
    width: 135px;
    padding: 11px 0;
    }

    .axure_button:hover{
      transform: scale(2);
      transition: 0.8s ease;
    background-color: springgreen;
    }

    .axure_button_name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    }

    .axure_button_name:hover{
      transform: scale(2);
      transition: 0.8s ease;
      color: violet;
    }