.customers{
    margin: 0;
    padding: 100px 0;
    width: 100%;
    }

    .title{
    width: 668px;
    }

.customers_row{
    margin-top: 67px;
    display: flex;
    justify-content: center;
}

.customers_element{
  display: flex;
  max-width: 298px;
  margin: 0 30px 20px;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.6s ease;
}

.customers_element:hover{
  box-shadow: 0 10px 40px rgba(219, 5, 166, 0.726);
  border-radius: 7px;
  background-color:rgb(212, 0, 255);
}

.customers_element_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 9px 22px 6px 23px;
    color: #86878b;
    background-color: #e2e2e2;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers_element_text:hover{
  font-size: 120%;
  color: red;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 9px 22px 6px 23px;
  background-color: #4b4de7b4;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers_element_text::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 17px solid #e2e2e2;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: absolute;
    top: 100%;
    left: 47px;
}

.customers_card{
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.customers_row__card_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-top: 30px;
    color: #333333;
  }
  
  .customers_row__card_occupation {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878b;
    margin-top: 12px;
  }

  .customers_row__card_img {
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 45px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }
  .customers_row__card_img:hover {
    transform: scale(1.2);
  }
  
  .avatar {
    height: 100%;
  }